planner-backend/modules/*/target/

.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.idea/
.vscode/

# Ignore node_modules
node_modules/

# Ignore VS Code settings
.vscode/

# Ignore log files
*.log


# Front-end
planner-frontend/node_modules/
planner-frontend/build/