.role-management-container {
    max-width: 100%;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

h2 {
    color: #2c3e50;
    margin-bottom: 20px;
}

/* Role Selection */
.role-selection {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}

.role-selection label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.role-selection select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
}

/* Role Name */
.role-name-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px; /* Clearly increased spacing */
    margin-bottom: 20px;
}

.role-name-container label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.role-name-container input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    width: auto;
}

/* Permissions Container */
.permissions-container {
    margin-top: 20px;
}

.permissions-container h3 {
    color: #2c3e50;
    margin-bottom: 10px;
}

/* Permissions Table */
.permissions-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.permissions-table th,
.permissions-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.permissions-table th {
    background-color: #4da8d6;
    color: #fff;
    text-transform: uppercase;
}

.permissions-table td input[type="checkbox"] {
    transform: scale(1.2);
}

/* Buttons */
.button-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 10px;
}

.save-btn,
.create-btn,
.delete-btn {
    padding: 12px 18px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: #fff;
}

.save-btn { background-color: #69be28; }
.create-btn { background-color: #4da8d6; }
.delete-btn { background-color: #dc3545; }

.save-btn:hover { background-color: #58a31e; }
.create-btn:hover { background-color: #3a8bb0; }
.delete-btn:hover { background-color: #b52b3a; }