# Set up connections to other services:
server:
  port: 8081

address:
  logicGate:
    url: ${LOGIC_GATE_SERVICE_URL:http://localhost:8080}
  scheduler:
    url: ${SCHEDULER_SERVICE_URL:http://localhost:8081}
  auth:
    url: ${AUTH_SERVICE_URL:http://localhost:8082} 
  stats:
    url: ${STATS_SERVICE_URL:http://localhost:8083}

jwt:
  secret: ${JWT_SECRET:secret}

spring:
  datasource:
    platform: mariadb
    driverClassName: ${SPRING_DATASOURCE_DRIVER_CLASS_NAME:org.mariadb.jdbc.Driver}
    url: ${SPRING_DATASOURCE_URL:jdbc:mariadb://planner-mariadb:3306/planner}
    username: ${SPRING_DATASOURCE_USERNAME:planner}
    password: ${SPRING_DATASOURCE_PASSWORD:root}
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect

  web:
    mvc:
      log-request-details: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: shiftplanner51@gmail.com
    password: qpkj khka xotv xihe
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

logging:
  level:
    org:
      springframework: INFO
      springframework.security: ${LOGGING_LEVEL_SPRING_SECURITY:INFO}
      springframework.web: ${LOGGING_LEVEL_SPRING_WEB:INFO}
      springframework.cloud.gateway: ${LOGGING_LEVEL_SPRING_CLOUD:INFO}
    com:
      zaxxer.hikari: DEBUG